<!-- Publication Section -->
<section id="services" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Publications</h2>
                <h3 class="section-subheading text-muted">Scientific Articles and Technical Reports.</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-lg-offset-2 text-justify">
                <ol>
                    <li>Challenges and solutions when adopting DevSecOps: A systematic review. 2022. <i>IST</i> [<a href="https://www.sciencedirect.com/science/article/pii/S0950584921001543">Link</a>]</li>
					<li>Why, How and Where of Delays in Software Security Patch Management: An Empirical Investigation in the Healthcare Sector. 2022. <i>CSCW</i> [<a href="https://arxiv.org/pdf/2202.09016">Link</a>] </li>
					<li>Systematic Literature Review on Cyber Situational Awareness Visualizations. 2022. <i>IEEE Access</i> [<a href="https://arxiv.org/pdf/2112.10354">Link</a>] </li>
                    <li>An Empirical Analysis of Practitioners' Perspectives on Security Tool Integration into DevOps. 2021. <i>ESEM</i> [<a href="https://dl.acm.org/doi/pdf/10.1145/3475716.3475776">Link</a>]</li>
                    <li>A Grounded Theory of the Role of Coordination in Software Security Patch Management. 2021. <i>ESEC/FSE</i> [<a href="https://dl.acm.org/doi/pdf/10.1145/3468264.3468595">Link</a>] </li>
					<li>Evaluation of Security Training and Awareness Programs: Review of Current Practices and Guideline. 2021. <i>Pending</i> [<a href="https://arxiv.org/pdf/2112.06356">Link</a>] </li>
          			<li>Falling for Phishing: An Empirical Investigation into People's Email Response Behaviors. 2021. <i>ICIS</i> [<a href="https://arxiv.org/pdf/2108.04766">Link</a>] </li>
					<li>Software Security Patch Management - A Systematic Literature Review of Challenges, Approaches, Tools and Practices. 2020. <i>IST</i> [<a href="https://www.sciencedirect.com/science/article/pii/S0950584921002147">Link</a>] </li>
          			<li>Mining questions asked about continuous software engineering: A case study of stack overflow. 2020. <i>MSR</i> [<a href="https://dl.acm.org/doi/pdf/10.1145/3383219.3383224">Link</a>]</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--

